<div class="page-header">
    <h1 class="page-title">编辑图标库</h1>
</div>
<div class="page-content" id="collectionEdit">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel">
                <div class="panel-body container-fluid">
                    <div class="action-buttons">
                        <button class="btn btn-primary btn-file" type="button">
                            上传图标
                            <input type="file" id="iconUpload" name="iconFile" multiple="multiple">
                        </button>
                        <button class="btn btn-default" type="button">图标库设置</button>
                    </div>
                    <div class="icon-list-box row" id="iconListBox">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/template" id="iconListTemp">
        <% if(icons && icons.length){ %>
        <% icons.forEach(function(icon){ %>
        <div class="col-lg-1 col-md-2 col-sm-4 icon-preview-wrap" data-id="<%= icon._id %>">
            <div class="icon-preview">
                <img src="<%= icon.url %>">
                <span class="icon-title"><%= icon.name %></span>
                <div class="icon-del">
                    <i class="glyphicon glyphicon-trash"></i>
                </div>
            </div>
        </div>
        <% }) %>
        <% } %>
    </script>
</div>