<div class="page-header">
    <h1 class="page-title">编辑图标库</h1>
</div>
<div class="page-content" id="collectionEdit">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel">
                <div class="panel-body container-fluid">
                    <div class="action-buttons">
                        <button class="btn btn-primary btn-file" type="button">
                            上传图标
                            <input type="file" id="iconUpload" name="iconFile" multiple="multiple">
                        </button>
                        <button class="btn btn-default" type="button" data-action="collectionInfoSet" data-toggle="modal" data-target="#collectionInfoSet">图标库设置</button>
                        <button class="btn btn-default" type="button" data-action="delIcon">删除图标</button>
                        <button class="btn btn-default" type="button">上传psd文件</button>
                    </div>
                    <div class="drag-zone" id="dragZone">
                        <i class="glyphicon glyphicon-download-alt icon-drag"></i>
                        <h3>拖放图标到此处完成上传</h3>
                        <p>仅支持svg和png格式文件</p>
                    </div>
                    <div class="icon-list-box row" id="iconListBox"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="collectionInfoSet"></div>
    <script type="text/template" id="iconListTemp">
        <% if(icons && icons.length){ %>
        <% icons.forEach(function(icon){ %>
        <div class="col-lg-1 col-md-2 col-sm-4 icon-preview-wrap">
            <div class="icon-preview" data-id="<%= icon._id %>">
                <img src="<%= icon.url %>">
                <span class="icon-title"><%= icon.name %></span>
            </div>
        </div>
        <% }) %>
        <% } %>
    </script>
</div>