body {
    font-family: Microsoft YaHei;
}

ul {
    list-style: none;
    padding: 0;
}

textarea {
    resize: none;
    overflow-x: hidden;
}

a {
    cursor: pointer;
}

body.md-nooverflow {
    overflow: hidden;
    position: fixed;
    width: 100%;
}

@font-face {
    font-family: 'opensans';
    src: url("../../fonts/opensans.ttf");
}

.form-control {
    border: 1px solid #e4eaec;
    box-shadow: none;
}

.btn {
    transition: .3s;
}

.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
}

.navbar-brand {
    float: none;
    text-align: center;
}

.navbar-brand-text {
    font-family: 'opensans';
    font-size: 24px;
}

.navbar-toolbar > li {
    float: left;
}

.navbar-toolbar > li > a {
    line-height: 22px;
    padding-top: 22px;
    padding-bottom: 22px;
}

.site-menu .glyphicon {
    margin-right: 14px;
    text-align: center;
    width: 1em;
    line-height: inherit;
    vertical-align: middle;
}

.site-navbar .navbar-header .navbar-brand,
.site-menubar {
    font-family: Microsoft YaHei;
}

.page {
    min-height: 100%;
}

.panel-heading {
    position: relative;
    padding: 0;
}

.panel-heading .work-title {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    height: auto;
}

.panel-title {
    padding: 20px 30px;
}

.panel-body {
    padding: 30px;
}

.panel-heading + .panel-body {
    padding-top: 0;
}

.panel-body > img {
    max-width: 100%;
}

.panel-actions {
    position: absolute;
    right: 30px;
    top: 50%;
    z-index: 1;
    margin: auto;
    transform: translate(0, -50%);
}

.panel-actions .panel-action {
    display: inline-block;
    padding: 8px 10px;
    color: #a3afb7;
    text-decoration: none;
    transition: .3s;
}

.panel-actions .panel-action:hover {
    color: #526069;
}

.panel-actions .panel-action i {
    font-weight: 100;
}

.preview-box {
    padding: 15px;
    overflow-y: scroll;
    border-left: 1px solid #e4eaec;
    background: #fff;
    word-break: break-all;
}

.preview-box .placeholder {
    color: #999;
}

.preview-box h1 {
    margin-top: 50px;
    font-size: 32px;
}

.preview-box h3 {
    font-size: 20px;
}

.preview-box h1:first-child {
    margin-top: 0;
}

.preview-box p {
    font-size: 14px;
    margin-bottom: 1em;
}

.preview-box img {
    max-width: 100%;
    margin: 2em 0;
}

.md-editor {
    border-radius: 3px;
    border: 1px solid #e4eaec;
    background: #fff;
}

.md-editor .md-input {
    display: block;
    width: 50%;
    height: 500px;
    padding: 15px;
    border: 0;
    float: left;
    overflow-y: scroll;
}

.md-editor .preview-box {
    width: 50%;
    float: right;
}

.md-editor .md-input,
.md-editor .preview-box {
    height: 500px;
}

.md-editor .md-input:focus {
    outline: none;
}

.md-editor .md-footer,
.md-editor > .md-header {
    padding: 6px;
    margin: 0;
    background: #f3f7f9;
}

.md-editor .md-footer {
    padding: 6px 15px;
}

.md-editor.md-fullscreen-mode {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 45px;
    z-index: 2000;
}

.md-editor.md-fullscreen-mode .md-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.md-editor.md-fullscreen-mode .md-body {
    position: absolute;
    top: 45px;
    bottom: 99px;
    left: 0;
    right: 0;
}

.md-editor.md-fullscreen-mode .md-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px 5% 50px;
}

.md-editor.md-fullscreen-mode .md-input,
.md-editor.md-fullscreen-mode .preview-box {
    height: 100% !important;
    padding: 50px 5%;
}

.md-editor.md-fullscreen-mode .btn-smallscreen,
.md-editor .btn-fullscreen {
    display: block;
}

.md-editor .btn-smallscreen,
.md-editor.md-fullscreen-mode .btn-fullscreen {
    display: none;
}

.md-editor .md-header .btn-default {
    border: 0;
    background: none;
    color: #a3afb7;
}

.md-editor .md-controls {
    float: right;
}

.md-editor .md-control {
    display: block;
    padding: 6px 12px;
    color: #a3afb7;
}

.md-editor .md-header .btn-default:hover,
.img-upload:hover .btn-default,
.md-editor .md-header .md-control:hover {
    color: #37474f;
}

.md-editor .fullscreen {
    display: block;
}

.md-editor .exit-fullscreen {
    display: none;
}

.md-editor.md-fullscreen-mode .fullscreen {
    display: none;
}

.md-editor.md-fullscreen-mode .exit-fullscreen {
    display: block;
}

.img-upload {
    position: relative;
    float: left;
    overflow: hidden;
}

.img-upload input[type="file"] {
    display: block;
    position: absolute;
    left: -10%;
    top: -200%;
    width: 120%;
    height: 320%;
    opacity: 0;
    cursor: pointer;
}

.icon-list-box {
    position: relative;
    min-height: 200px;
    margin-bottom: 30px;
}

.icon-preview {
    position: relative;
    height: 102px;
    padding: 10px 0;
    margin-bottom: 30px;
    border: 2px dashed transparent;
    text-align: center;
    overflow: hidden;
    border-radius: 4px;
    cursor: pointer;
}

.icon-preview:hover {
    background: #f9f9f9;
}

.icon-preview.selected {
    border-color: #62A8EA;
}

.icon-preview .icon-del {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    text-align: center;
    background: rgba(0, 0, 0, .6);
    color: #fff;
    cursor: pointer;
}

.icon-preview .icon-del:hover {
    background: rgba(0, 0, 0, .8);
}

.icon-preview:hover .icon-del {
    display: block;
}

.icon-preview svg {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-top: 10px;
}

.icon-preview img {
    width: 32px;
    margin-top: 10px;
}

.icon-preview .icon-title {
    display: block;
    margin-top: 10px;
    font-size: 12px;
}

.upload-block {
    position: relative;
    padding: 10px 0;
    background: #fcfdfe;
    cursor: pointer;
    color: #CCD5DB;
    text-align: center;
    overflow: hidden;
}

.upload-block i {
    font-size: 32px;
    vertical-align: middle;
}

.upload-block span {
    line-height: 32px;
    font-size: 24px;
    vertical-align: middle;
}

.upload-block input[type="file"] {
    display: block;
    position: absolute;
    left: -20%;
    top: -10%;
    bottom: -10px;
    width: 120%;
    cursor: pointer;
    opacity: 0;
}

.upload-block:hover {
    background: #f0f5f9;
}

.wizard .steps > li {
    margin-left: 0;
}

.wizard .steps > li > a {
    position: static;
    padding: 8px 0;
    cursor: default;
}

.wizard .steps > li > a,
.wizard .steps > li > a:hover,
.wizard .steps > li > a:focus {
    background: none;
}

.wizard .steps > li > a .step-number {
    background: #ccd5db;
}

.wizard .steps > li > a .step-title {
    display: block;
    margin-left: 40px;
}

.wizard .steps > li.active {
    background: #62a8ea;
}

.wizard .steps > li.active > a,
.wizard .steps > li.active > a:hover,
.wizard .steps > li.active > a:focus {
    color: #fff;
    background: none;
}

.wizard .nav-pills > li.active > a .step-number {
    color: #62a8ea;
    background: #fff;
}

.wizard .nav-pills > li.active > a .step-title {
    color: #fff;
}

.wizard-buttons {
    margin-top: 22px;
}

.fixed-action-btn {
    position: fixed;
    bottom: 50px;
    right: 20px;
    z-index: 998;
}

.btn-floating {
    position: relative;
    display: block;
    width: 56px;
    height: 56px;
    background: #62A8EA;
    border-radius: 50%;
    line-height: 56px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    transition: .25s;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.btn-floating:hover {
    background: #89bceb;
    color: #fff;
}

.btn-floating input[type="file"] {
    display: block;
    position: absolute;
    left: -10%;
    top: -100%;
    width: 120%;
    height: 200%;
    opacity: 0;
    cursor: pointer;
}

.cover-img {
    padding-left: 30px;
    padding-bottom: 20px;
}

.cover-img button {
    color: #d6b3b3;
}

.cover-img button i {
    font-size: 30px;
    padding: 14px;
    font-weight: normal;
}

.cover-img img {
    width: 110px;
    height: 92px;
    margin-left: 10px;
    border-radius: 5px;
}

.form-tip {
    line-height: 2em;
    color: #aaa;
}

.spinner {
    margin: 100px auto;
    width: 50px;
    height: 60px;
    text-align: center;
    font-size: 10px;
}

.spinner > div {
    background-color: #67CF22;
    height: 100%;
    width: 6px;
    display: inline-block;

    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
    animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4)
    }
    20% {
        -webkit-transform: scaleY(1.0)
    }
}

@keyframes stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}

.action-buttons {
    margin-bottom: 30px;
}

.btn-file {
    position: relative;
}

.btn-file input[type="file"] {
    display: block;
    position: absolute;
    left: -10%;
    top: -100%;
    width: 120%;
    height: 200%;
    opacity: 0;
    cursor: pointer;
}

.drag-zone {
    padding: 20px;
    border-radius: 10px;
    border: 3px dashed #eee;
    color: #999;
    text-align: center;
}

.drag-zone.dragover {
    border-color: #62A8EA;
}

.drag-zone .icon-drag {
    font-size: 40px;
    color: #bbb;
}

.modal-body > form {
    padding: 15px 0;
}

.attachment-wrap {
    margin-bottom: 20px;
}

.attachment-wrap i {
    color: #999;
}